

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather|Oswald|Roboto+Slab');


$offwhite:  #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6373C2;

$color-main: $darkblue;
$color-background: $offwhite;

$font-main: 'merriweather',Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$color-highlight: $red;
